<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="optimizely" value="https://api.nuget.optimizely.com/v3/index.json" />
    <add key="github.episerver" value="https://nuget.pkg.github.com/episerver/index.json" />
    <add key="local" value="./local-packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="optimizely">
      <package pattern="EPiServer.*" />
      <package pattern="Optimizely.*" />

      <!-- Temprorary -->
      <package pattern="EPiServer.CMS.WelcomeIntegration.*" />
      <package pattern="EPiServer.Cms.Warmup" />
      <package pattern="EPiServer.Cms.HealthCheck" />
      <!-- /Temprorary -->
    </packageSource>
    <packageSource key="github.episerver">
      <package pattern="Optimizely.Cms.*" />
    </packageSource>
    <packageSource key="local">
      <!-- Temprorary -->
      <package pattern="EPiServer.CMS" />
      <package pattern="EPiServer.CMS.*" />
      <package pattern="EPiServer.Framework" />
      <package pattern="EPiServer.Framework.*" />
      <package pattern="EPiServer.Hosting" />
      <Package pattern="Optimizely.ContentGraph.*" />
      <!-- /Temprorary -->

      <package pattern="EPiServer.Turnstile.*" />
      <package pattern="Optimizely.Identity.*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <github.episerver>
      <add key="Username" value="Ignored" />
      <add key="ClearTextPassword" value="%GitHubEpiserverPAT%" />
    </github.episerver>
  </packageSourceCredentials>
</configuration>
